$bg: #ffffff;

$red: #4E0113;
$red1: #4D0011;

$white1: #F3F4F0;
$white2: #FFFFFF;
$white3: #e3a7a7;   
$white4: #F3F3F3;

$black1: #00000080;
$black2: #181818;
$black3: #000000;
$black4: #00000040;

$gray1: #f3f3f3;

$pink1: #C2858C;